
:root {
  --primary-color: #f15a24;
  --secondary-color: #808080;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #f2f2f2;
  --black-color: #333333;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.page-content{
  display: grid;
  grid-template-rows: 10vh 1fr;
  width: 100%;
  height: 100%;
}

.main-header{
  display: flex;
  justify-content: center;
  padding: 1% 0;
  align-items: center;
  position: sticky;
  width: 100%;
  background-color: var(--black-color);
}

.main-header img{
  height: 100%;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.main-header img:hover{
  transform: scale(1.1);
}

.main-header img:active{
  transform: scale(0.9);
}


.main-content{
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.packages-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}